$gameOverHeight: 20rem;

.hud {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: theme.$z-ind-game-ui;
}

.touchArea {
  width: 100%;
  height: 100%;
}

.gameOver {
  width: 100vw;
  height: $gameOverHeight;
  position: absolute;
  top: calc((100vh - $gameOverHeight) / 2);
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  word-spacing: -0.2rem;
  text-shadow: 0 0 0.5rem black;

  animation: slideUp 2s cubic-bezier(0.25, 1, 0.5, 1);

  span.gameOverText {
    // color: theme.$acc-clr-3;
    color: theme.$light-clr-1;
    margin-bottom: -0.3rem;
    margin-top: -1rem;
    font-size: 3rem;
  }
  span.scoreText {
    // color: theme.$light-clr-1;
    color: theme.$acc-clr-3;
    margin-bottom: 0.5rem;
    font-size: 6rem;
    @include theme.breathing;
  }
  span.subtitleText {
    // color: theme.$acc-clr-3;
    color: theme.$light-clr-1;
    font-size: 1.8rem;
  }
}

.notGameOver {
  display: none;
}

.upperLeft,
.upperRight,
.upperCenter {
  width: auto;
  position: absolute;
  padding: 1.2rem;
  z-index: 1;
}

.upperLeft {
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: start;

  color: theme.$acc-clr-1;

  span.uiVariable {
    margin-bottom: 0.5rem;
    font-size: 4rem;
  }

  span.uiLabel {
    margin-bottom: -0.5rem;
    font-size: 2rem;
  }
}

.upperRight {
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
}

.upperCenter {
  $width: 60vmin;

  left: calc((100vw - $width) / 2);
  top: calc(50vh - 45vmin);
  width: $width;
  height: 5vmin;
  padding: 0;

  div.cooldownBar {
    background-color: theme.$acc-clr-1;
    width: 100%;
    height: 100%;
    border-radius: 3vmin;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.cooldownBarBG {
      background-color: theme.$cell-clr-1;
      border-radius: 2vmin;
      width: 95%;
      height: 50%;
      overflow: hidden;

      div.cooldownBarFill {
        background-color: theme.$acc-clr-3;
        height: 100%;
        transition: width 0.5s;
      }
    }
  }
}

.puff {
  animation: puff 0.2s;
}

.barFull {
  @include theme.barFull;
}

@keyframes puff {
  0%,
  100% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.3);
  }
}

@keyframes slideUp {
  0%, 40% {
    top: -$gameOverHeight;
  }

  100% {
    top: calc((100vh - $gameOverHeight) / 2);
  }
}
