h1.logo {
  // font-size: 6rem;
  // text-shadow: 0 0.5rem 0.6rem black;
  width: 100%;

  margin-top: -5vh;
  margin-bottom: 2rem;

  @include theme.breathing;

  @media (max-width: 425px) {
    width: 120%;
  }
  @media (min-width: 992px) {
    width: 80%;
  }
}

.subtitle {
  margin-bottom: -0.8rem;
  font-size: 2.5rem;
  display: block;
  text-align: center;
}

.mainMenu {
  @include theme.mainMenuContainer;
}
